<div class="dm__left demo">
  <button id="b01" class="button button_type_sound">? Beer Can<span>beer_can_opening</span><q id="key_q" class="key">Q</q></button>
  <button id="b02" class="button button_type_sound">? Bell Ring<span>bell_ring</span><q id="key_w" class="key">W</q></button>
  <button id="b03" class="button button_type_sound">? Branch Break<span>branch_break</span><q id="key_e" class="key">E</q></button>
  <button id="b04" class="button button_type_sound">? Button Click<span>button_click</span><q id="key_r" class="key">R</q></button>
  <button id="b05" class="button button_type_sound">? Keyboard Click<span>button_click_on</span><q id="key_t" class="key">T</q></button>
  <button id="b06" class="button button_type_sound">? Big button<span>button_push</span><q id="key_y" class="key">Y</q></button>
  <button id="b07" class="button button_type_sound">? Tiny Button<span>button_tiny</span><q id="key_u" class="key">U</q></button>
  <button id="b-camera-1" class="button button_type_sound">? Camera Flashing<span>camera_flashing</span><q id="key_i" class="key">I</q></button>
  <button id="b-camera-2" class="button button_type_sound">? Camera Flashing 2<span>camera_flashing_2</span><q id="key_o" class="key">O</q></button>
  <button id="b-cdtray" class="button button_type_sound">? CD Tray<span>cd_tray</span><q id="key_p" class="key">P</q></button>
  <button id="b10" class="button button_type_sound">? Computer Error<span>computer_error</span><q id="key_a" class="key">A</q></button>
  <button id="b11" class="button button_type_sound">? Door Bell<span>door_bell</span><q id="key_s" class="key">S</q></button>
  <button id="b-door" class="button button_type_sound">? Door Bump<span>door_bump</span><q id="key_d" class="key">D</q></button>
  <button id="b-glass" class="button button_type_sound">? Glass<span>glass</span><q id="key_f" class="key">F</q></button>
  <button id="b-keyboard" class="button button_type_sound">? Keyboard Desk<span>keyboard_desk</span><q id="key_g" class="key">G</q></button>
  <button id="b12" class="button button_type_sound">? Light Bulb Breaking<span>light_bulb_breaking</span><q id="key_h" class="key">H</q></button>
  <button id="b-metal-1" class="button button_type_sound">? Metal Plate<span>metal_plate</span><q id="key_j" class="key">J</q></button>
  <button id="b-metal-2" class="button button_type_sound">? Metal Plate 2<span>metal_plate_2</span><q id="key_k" class="key">K</q></button>
  <button id="b14" class="button button_type_sound">? Pop Cork<span>pop_cork</span><q id="key_l" class="key">L</q></button>
  <button id="b-snap" class="button button_type_sound">? Snap<span>snap</span><q id="key_z" class="key">Z</q></button>
  <button id="b-staple" class="button button_type_sound">? Staple Gun<span>staple_gun</span><q id="key_x" class="key">X</q></button>
  <button id="b-tap" class="button button_type_sound">? Tap<span>tap</span><q id="key_c" class="key">C</q></button>
  <button id="b-water-1" class="button button_type_sound">? Water Droplet 1<span>water_droplet</span><q id="key_v" class="key">V</q></button>
  <button id="b-water-2" class="button button_type_sound">? Water Droplet 2<span>water_droplet_2</span><q id="key_b" class="key">B</q></button>
  <button id="b-water-3" class="button button_type_sound">? Water Droplet 3<span>water_droplet_3</span><q id="key_n" class="key">N</q></button>
</div>
<div class="dm__left demo">
  <button data-volume="1.0" class="button button_type_sound js-volume">? Volume: 100%<span>bell_ring:</span></button>
  <button data-volume="0.8" class="button button_type_sound js-volume">? Volume: 80%<span>bell_ring</span></button>
  <button data-volume="0.6" class="button button_type_sound js-volume">? Volume: 60%<span>bell_ring</span></button>
  <button data-volume="0.5" class="button button_type_sound js-volume">? Volume: 50%<span>bell_ring</span></button>
  <button data-volume="0.4" class="button button_type_sound js-volume">? Volume: 40%<span>bell_ring</span></button>
  <button data-volume="0.3" class="button button_type_sound js-volume">? Volume: 30%<span>bell_ring</span></button>
  <button data-volume="0.2" class="button button_type_sound js-volume">? Volume: 20%<span>bell_ring</span></button>
  <button data-volume="0.1" class="button button_type_sound js-volume">? Volume: 10%<span>bell_ring</span></button>
  <button data-volume="0.0" class="button button_type_sound js-volume">? Volume: 0%<span>bell_ring</span></button>
</div>
<div class="dm__left demo">
  <button class="button button_type_sound js-p-play">? Play<span>cd_tray</span></button>
  <button class="button button_type_sound js-p-pause">¦¦ Pause<span>cd_tray</span></button>
</div>
<div class="dm__left demo">
  <button class="button button_type_sound js-play">? Play<span>cd_tray</span></button>
  <button class="button button_type_sound js-stop">¦ Stop<span>cd_tray</span></button>
</div>
<div class="dm__left demo">
  <button class="button button_type_sound js-loop-play">? Play<span>glass</span></button>
  <button class="button button_type_sound js-loop-stop">¦ Stop<span>glass</span></button>
</div>
<div class="dm__left demo">
  <button class="button button_type_sound js-loop5-play">? Play<span>tap</span></button>
  <button class="button button_type_sound js-loop5-stop">¦ Stop<span>tap</span></button>
</div>
<div class="dm__left demo">
  <button data-name="water_droplet" class="button button_type_sound js-kill">× Del Water Droplet 1<span>water_droplet</span></button>
  <button data-name="water_droplet_2" class="button button_type_sound js-kill">× Del Water Droplet 2<span>water_droplet_2</span></button>
  <button data-name="water_droplet_3" class="button button_type_sound js-kill">× Del Water Droplet 3<span>water_droplet_3</span></button>
  <button class="button button_type_sound js-kill">× Remove All!<span>reload page to restore</span></button>
</div>
	    </div>
	  </div>
	</div>



	<script type="text/javascript" src="./script/vendor/ion.sound-2.1.3/ion.sound.js"></script>
	<script type="text/javascript" src="./script/ionSound.js"></script>

	<link href="./style/demo_sound.css" rel="stylesheet">
